body {
  background-color: lightcyan;
  color: rgb(187, 18, 18);
  align-items: center;
}

h1 {
  text-align: center;
  margin-top: 70px;
}

.form-inline {
  display: flex;
  justify-content: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  margin-top: 50px;
}

.label-control {
  font-size: 20px;
}

.form-control {
  margin-top: 20px;
}

.country-title {
  color: black;
  text-align: center;
}

.card {
  display: flex;
  justify-content: center;
}

.card-text {
  margin-right: 20px;
  color: black;
}

.flag {
  max-width: 350px;
  max-height: 250px;
}

.several-counrty-name {
  color: black;
}

.countries-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
